@import "../../common/mixins.scss";

.characters-list{
    @include data-card;

    .characters-scroll-container{

        @include scroll-container;
        .character-card{
            z-index: 95;
            flex: 1;
            height: 200px;
            margin-right: 5px;
            &:not(:last-child){
                margin-bottom: 10px;
            } 
        }
    }
}


