@import "../../../common/mixins.scss";

.character-data{
    @include data-card;

    .fields-scroll-container{
        @include scroll-container;
        max-height: calc(#{$cardMaxHeight} - 55px);

        .character-field{
            flex: 1;
            margin-right: 5px;
        }
    }
}


